//styles for prime-ng content
.p-card .p-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: black;
}
.p-card .p-card-subtitle {
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: black;
}
.p-card .p-card-footer {
  padding: 1rem 0 0 0;
  color: black;
}
