<div
  [ngClass]="[configProperties.styles.componentStyle ? configProperties.styles.componentStyle : '']"
  [hidden]="configProperties.isHidden">
  <button
    [type]="configProperties.btnType"
    [id]="configProperties.type + configProperties.propertyName"
    (click)="onSubmitForm()"
    (change)="onSubmitForm()"
    [ngClass]="[configProperties.styles.buttonStyle ? configProperties.styles.buttonStyle : '']">
    {{ configProperties.btnText || 'Button' }}
  </button>
  <div *ngIf="configProperties.helpText">
    <small
      [ngClass]="[
        configProperties.styles.supportingTextStyle
          ? configProperties.styles.supportingTextStyle
          : '',
      ]">
      {{ configProperties.helpText }}
    </small>
  </div>
</div>
