<div
  [ngClass]="[configProperties.styles.componentStyle ? configProperties.styles.componentStyle : '']"
  [hidden]="configProperties.isHidden">
  <label
    *ngIf="configProperties.showLabel"
    [for]="configProperties.formControlName"
    [style.color]="
      form.controls[configProperties.formControlName].invalid &&
      form.controls[configProperties.formControlName].touched
        ? '#DA2D20 !important'
        : ''
    "
    [ngClass]="[configProperties.styles.labelStyle ? configProperties.styles.labelStyle : '']">
    {{ configProperties.displayName || 'Label' }}
    <span class="ml-1 text-danger" *ngIf="isMandatory()">*</span>
  </label>
  <div [formGroup]="form">
    <input
      type="checkbox"
      [formControlName]="configProperties.formControlName"
      [readonly]="isReadOnly()"
      [id]="configProperties.type + configProperties.formControlName"
      (change)="onCheckBoxChanged()"
      (click)="onCheckBoxChanged()"
      [name]="configProperties.formControlName"
      [ngClass]="[
        configProperties.styles.checkBoxStyle ? configProperties.styles.checkBoxStyle : '',
      ]" />
    <label
      [ngClass]="[
        configProperties.styles.checkboxLabelStyle
          ? configProperties.styles.checkboxLabelStyle
          : '',
      ]"
      [for]="configProperties.type + configProperties.formControlName"
      >{{ configProperties.checkLabel }}</label
    >
    <div *ngIf="configProperties.helpText">
      <small
        [ngClass]="[
          configProperties.styles.supportingTextStyle
            ? configProperties.styles.supportingTextStyle
            : '',
        ]">
        {{ configProperties.helpText }}
      </small>
    </div>
    <div
      *ngIf="
        form.controls[configProperties.formControlName].invalid &&
        form.controls[configProperties.formControlName].touched
      ">
      <ng-container *ngIf="form.controls[configProperties.formControlName].errors?.['required']">
        <p class="invalid-input-text">Please enter value</p>
      </ng-container>
    </div>
  </div>
</div>
