<div
  [ngClass]="[configProperties.styles.componentStyle ? configProperties.styles.componentStyle : '']"
  [hidden]="configProperties.isHidden">
  <p
    [ngClass]="[
      configProperties.styles.bodyTextStyle ? configProperties.styles.bodyTextStyle : '',
    ]">
    {{ configProperties.value || 'p' }}
  </p>
  <div *ngIf="configProperties.helpText">
    <small
      [ngClass]="[
        configProperties.styles.supportingTextStyle
          ? configProperties.styles.supportingTextStyle
          : '',
      ]">
      {{ configProperties.helpText }}
    </small>
  </div>
</div>
