<div
  class="background-image background-color-ffffff background-image-none background-repeat-no-repeat background-size-width-100-percent background-size-height-100-percent flex-direction-column align-items-flex-start justify-content-flex-start font-family-inherit container-fluid">
  <div class="row">
    <div class="col-lg-12 color-black">
      <div class="row">
        <div class="col-lg-2 color-black">
          <new-sidebar></new-sidebar>
        </div>
        <div class="col-lg-10 color-black">
          <title-h3-text [configProperties]="titleH3Text21ConfigProperties"></title-h3-text
          >
          <div class="d-flex col-md-12" >
          <card [configProperties]="card21ConfigProperties" (cardClickedEvent)="card21Clicked()"
          *ngFor="let config of cardConfigProperties"><ng-template pTemplate="content"
              ><subtitle-text [configProperties]="config.subtitleText237ConfigProperties"></subtitle-text
              ><subtitle-text [configProperties]="config.subtitleText248ConfigProperties"></subtitle-text
              ><subtitle-text [configProperties]="config.subtitleText259ConfigProperties"></subtitle-text
              ><subtitle-text [configProperties]="config.subtitleText260ConfigProperties"></subtitle-text
              ><subtitle-text [configProperties]="config.subtitleText2610ConfigProperties"></subtitle-text
              ><subtitle-text [configProperties]="config.subtitleText2711ConfigProperties"></subtitle-text
              >
              <button-component
                [configProperties]="button99ConfigProperties"
                (submitForm)="button99submitForm()"></button-component></ng-template
          ></card>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
