/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
.background-image {
  background-image: false !important;
}
.background-color-ffffff {
  background-color: #ffffff !important;
}
.background-image-none {
  background-image: none !important;
}
.background-repeat-no-repeat {
  background-repeat: no-repeat !important;
}
.background-size-width-100-percent {
  background-size-width: 100% !important;
}
.background-size-height-100-percent {
  background-size-height: 100% !important;
}
.flex-direction-column {
  flex-direction: column !important;
}
.align-items-flex-start {
  align-items: flex-start !important;
}
.justify-content-flex-start {
  justify-content: flex-start !important;
}
.font-family-inherit {
  font-family: inherit !important;
}
.color-black {
  color: black !important;
}
.color-6c757d {
  color: #6c757d !important;
}
.height-48 {
  height: 48px !important;
}
.padding-top-12 {
  padding-top: 12px !important;
}
.padding-bottom-12 {
  padding-bottom: 12px !important;
}
.padding-left-16 {
  padding-left: 16px !important;
}
.padding-right-16 {
  padding-right: 16px !important;
}
.background-color-fff {
  background-color: #fff !important;
}
.border-radius-4 {
  border-radius: 4px !important;
}
.border-width-1 {
  border-width: 1px !important;
}
.border-style-solid {
  border-style: solid !important;
}
.border-color-e0e0e0 {
  border-color: #e0e0e0 !important;
}
.color-000000 {
  color: #000000 !important;
}
.width-100-percent {
  width: 100% !important;
}
.text-align-left {
  text-align: left !important;
}
.font-size-16 {
  font-size: 16px !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.border-color-rgb74-21-72-1 {
  border-color: rgb(74, 21, 72, 1) !important;
}
.color-rgb255-255-255-1 {
  color: rgb(255, 255, 255, 1) !important;
}
.background-color-rgb255-255-255-1 {
  background-color: rgb(255, 255, 255, 1) !important;
}
.padding-top-2-percent {
  padding-top: 2% !important;
}
.padding-top-1-percent {
  padding-top: 1% !important;
}
.padding-bottom-1-percent {
  padding-bottom: 1% !important;
}
.background-color-rgb74-21-72-1 {
  background-color: rgb(74, 21, 72, 1) !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}

@import '~@ng-select/ng-select/themes/default.theme.css';
