<div
  class="background-image background-color-ffffff background-image-none background-repeat-no-repeat background-size-width-100-percent background-size-height-100-percent flex-direction-column align-items-flex-start justify-content-flex-start font-family-inherit container-fluid">
  <div class="row">
    <div
      class="col-lg-12 color-black background-color-rgb74-21-72-1 height-fit-content padding-top-05rem padding-bottom-05rem">
      <div class="row">
        <div class="col-lg-2 color-black">
          <title-h3-text [configProperties]="titleH3Text12ConfigProperties"></title-h3-text>
        </div>
        <div [ngClass]="divClass" class="color-black"></div>
        <div class="col-lg-1 color-black align-content-center" *ngIf="!hideElementForCore">
          <subtitle-text [configProperties]="subtitleText44ConfigProperties"></subtitle-text>
        </div>
        <div class="col-lg-1 color-black align-content-center" *ngIf="!hideElementForCore">
          <subtitle-text [configProperties]="subtitleText55ConfigProperties"></subtitle-text>
        </div><div class="col-lg-1 color-black align-content-center" *ngIf="!hideElementForStudentRoute">
          <subtitle-text [configProperties]="subtitleText66ConfigProperties"></subtitle-text>
        </div><div class="col-lg-1 color-black align-content-center" *ngIf="!hideElementForSpecificRoute">
          <subtitle-text [configProperties]="subtitleText22ConfigProperties"></subtitle-text>
        </div>
        <div class="col-lg-1 color-black align-content-center" *ngIf="!hideElementForSpecificRoute">
          <subtitle-text [configProperties]="subtitleText33ConfigProperties"></subtitle-text>
        </div>
        <div class="col-lg-1 color-black align-content-center" *ngIf="showElementForSignup">
          <button-component
          
            [configProperties]="button1ConfigProperties"
            (submitForm)="button1submitForm()"></button-component>
        </div>
        <div class="col-lg-1 color-black align-content-center" *ngIf="showElementForLogin">
          <button-component
          
            [configProperties]="button12ConfigProperties"
            (submitForm)="button12submitForm()"></button-component>
        </div>
        <div class="col-lg-1 color-black align-content-center" *ngIf="!showElementForSpecificRoute">
          <button-component
          
            [configProperties]="button13ConfigProperties"
            (submitForm)="button13submitForm()"></button-component>
        </div>
      </div>
    </div>
  </div>
</div>
