<div
  [ngClass]="[configProperties.styles.componentStyle ? configProperties.styles.componentStyle : '']"
  [hidden]="configProperties.isHidden">
  <!-- Label for fields -->
  <label
    *ngIf="configProperties.showLabel"
    [for]="configProperties.formControlName"
    [style.color]="
      form.controls[configProperties.formControlName].invalid &&
      form.controls[configProperties.formControlName].touched
        ? '#DA2D20 !important'
        : ''
    "
    [ngClass]="[configProperties.styles.labelStyle ? configProperties.styles.labelStyle : '']">
    {{ configProperties.displayName || 'Label' }}
    <span class="ml-1 text-danger" *ngIf="isMandatory()">*</span>
  </label>
  <div *ngIf="form !== undefined" [formGroup]="form">
    <input
      [ngClass]="[
        form.controls[configProperties.formControlName].invalid &&
        form.controls[configProperties.formControlName].touched
          ? 'validation-error-wrapper'
          : '',
        configProperties.styles.inputStyle ? configProperties.styles.inputStyle : '',
      ]"
      [id]="configProperties.type + configProperties.formControlName"
      type="email"
      [readonly]="isReadOnly()"
      [placeholder]="configProperties.placeHolder || ' '"
      [formControlName]="configProperties.formControlName"
      (click)="onEmailChanged()"
      (change)="onEmailChanged()"
      onkeydown="return(event.keyCode != 13)" />
    <div *ngIf="configProperties.helpText">
      <small
        [ngClass]="[
          configProperties.styles.supportingTextStyle
            ? configProperties.styles.supportingTextStyle
            : '',
        ]">
        {{ configProperties.helpText }}
      </small>
    </div>
    <!-- Validation error texts -->
    <div
      *ngIf="
        form.controls[configProperties.formControlName]?.invalid &&
        form.controls[configProperties.formControlName]?.touched
      ">
      <ng-container *ngIf="form.controls[configProperties.formControlName].errors?.['required']">
        <p class="invalid-input-text">Please enter value</p>
      </ng-container>
      <ng-container *ngIf="form.controls[configProperties.formControlName].errors?.['email']">
        <p class="invalid-input-text">Please enter valid email</p>
      </ng-container>
    </div>
  </div>
</div>
